@import '../../../assets/styles/var.scss';
@mixin pokemonBg($background, $border, $padding) {
  background: $background;
  border-radius: $border;
  padding: $padding;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  color: $gray-font;
  box-shadow: 0px 0px 5px #22222265;
  transition: ease-in-out 0.3s;
  @media screen and(max-width:$tablet) {
    width: 45%;
  }
  @media screen and(max-width:$mobile) {
    width: 300px;
  }
  &:hover {
    transform: scale(1.02);
  }
  h2 {
    text-transform: uppercase;
  }
  &__text {
    color: $gray-font;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    padding-top: 3rem;
    &--span {
      border-radius: 5px;
      background: #f3f3f3;
      padding: 5px;
      margin: 0px 5px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  &__image {
    position: relative;
    padding-top: 4rem;
    z-index: 2;
  }
  &__bg {
    position: absolute;
    background: url('../../../assets/image/blob.svg');
    background-size: 100% 100%;
    display: flex;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 25px 0px;
    z-index: 1;
  }
  img {
    width: 8rem;
  }
  &__water {
    @include pokemonBg($water, 5px, 20px);
  }
  &__grass {
    @include pokemonBg($grass, 5px, 20px);
  }
  &__bug {
    @include pokemonBg($bug, 5px, 20px);
  }
  &__normal {
    @include pokemonBg($normal, 5px, 20px);
  }
  &__fire {
    @include pokemonBg($fire, 5px, 20px);
  }
  &__electric {
    @include pokemonBg($electric, 5px, 20px);
  }
  &__poison {
    @include pokemonBg($poison, 5px, 20px);
  }
  &__ground {
    @include pokemonBg($ground, 5px, 20px);
  }
  &__fairy {
    @include pokemonBg($fairy, 5px, 20px);
  }
  &__fighting {
    @include pokemonBg($fighting, 5px, 20px);
  }
  &__psychic {
    @include pokemonBg($psychic, 5px, 20px);
  }
  &__rock {
    @include pokemonBg($rock, 5px, 20px);
  }
  &__ghost {
    @include pokemonBg($ghost, 5px, 20px);
  }
  &__ice {
    @include pokemonBg($ice, 5px, 20px);
  }
  &__dragon {
    @include pokemonBg($dragon, 5px, 20px);
  }
  &__dark {
    @include pokemonBg($dark, 5px, 20px);
  }
  &__steel {
    @include pokemonBg($steel, 5px, 20px);
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }
}
