@import '../../../assets/styles/var.scss';
.container {
  &__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    a {
      @include Anchor;
    }
    &--item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      overflow: hidden;
      width: 100%;
      h3 {
        font-size: 13rem;
        position: absolute;
        transform: skew(170deg);
        z-index: 1;
        opacity: 0.1;
        top: 0;
      }
      img {
        width: 16rem;
        z-index: 2;
      }
    }
    &--text {
      margin-top: 3rem;

      hr {
        height: 3px;
        border: none;
        margin: 10px 0px;
        background: $orangeLight-button;
      }
    }
  }
}
