@mixin Button($background, $border, $bradius, $color, $padding) {
  background: $background;
  border: $border;
  border-radius: $bradius;
  color: $color;
  cursor: pointer;
  padding: $padding;
  margin: 20px 0px;
  &:hover {
    padding: $padding + 50px;
  }
}

@mixin Anchor {
  align-self: flex-start;
  text-decoration: none;
  margin: 20px;
  color: $gray-font;
  transition: transform 1s;
  border-bottom: 3px dashed $orangeLight-button;
  &:hover {
    transform: translateX(10px);
  }
}
