@import './mixin.scss';
$gray-font: #222;
$grayLight-font: #8b8b89;
$orangeLight-button: #fed883;
$white-font: #f3f3f3;

//Background Pokemon
$fire: #f6a08e;
$grass: #6bc299;
$bug: #b9a174;
$poison: #96d5a4;
$water: #8cbdd1;
$normal: #c9c9c9;
$electric: #fff6a6;
$ground: #b4ad69;
$fairy: #f9dad9;
$fighting: #e7c7a7;
$psychic: #e6d4e7;
$rock: #a78f78;
$ghost: #8e84ae;
$ice: #84a4ae;
$dragon: #fac797;
$dark: #6c6d6d;
$steel: #558997;

//breakpoints
$mobile: 414px;
$tablet: 768px;
